bin/
obj/
TestResults/

.vs/
*.user
*.suo
*.cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.nupkg
*.snupkg

*.db
*.db-shm
*.db-wal

data/

*.log
*.tmp

src/**/bin/
src/**/obj/